<h1>Portfolio Items</h1>

<p> <%= link_to "Create New item", new_portfolio_path %></p>
<p><%= link_to "Ruby on rails Projects", ruby_items_path %></p>
<p><%= link_to "Angular Projects", angular_items_path %></p>

<%= render partial: 'portfolio_item', collection: @portfolio_items %>

