<h1>Would you like to work with us?</h1>

<div class="row">
  <div class="col-md-6">
    <h3>Office Address</h3>
    <p>bla bla bla </p>
    <h3>Phone</h3>
    <p>5555555</p>
    <h3>Email</h3>
    <p><a href="mailto:madureiracharles@me.com?subject=PortfolioContact" "email me">Email me</a></p>
  </div>
  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3112.0800613385836!2d-9.149882384957833!3d38.738924979595424!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd193309861e8f4f%3A0xaa3c40df9cde6ae0!2sAv.+Elias+Garcia+93%2C+1050-053+Lisboa%2C+Portugal!5e0!3m2!1sfr!2sfr!4v1491572066132" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
